*{
    color: black
}

.btn.btn-primary {
    background-color: white;
    color: black;
    border-radius: 10px;}

    .modal-content {
        box-shadow: none;}

p#precio_total{
    padding: 20px;
}